@import "./styles//map.css";
@import "./styles//footer.css";
@import "./styles/navbar.css";
@import "./styles//newSnap.css";
@import "./styles//profile.css";
@import "./styles//snapPreview.css";
@import "./styles//snapDetail.css";
@import "./styles//filter.css";
@import "./styles//snapEdit.css";

body {
  font-family: "Muli", sans-serif;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Muli", sans-serif;

  text-decoration: none;
  box-shadow: none;
  border: none;
  background-color: whitesmoke;
}

.button-visible {
  background-color: #9b9b9b;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5em;
  color: whitesmoke;
  font-weight: 1000;
  margin-top: 2em;
}

.button-visible > a:visited,
.button-visible > a {
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.info {
  font-size: 0.8em;
  color: grey;
}
/************************** BODY *******************/

.body {
  display: block;
  /* flex-direction: column;
  justify-content: space-between; */
}

.body-view {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: whitesmoke;
  /* padding: 2em; */
  width: 70vw;
  height: 60vh;
  border-radius: 10px;
}

.container-content {
  padding: 2em;
  overflow-y: scroll;
}

.container-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.basic-header {
  background-color: #828282;
  color: whitesmoke;
}

.snap-img {
  width: 90%;
  max-height: 20vh;
  border-radius: 8px;
}

.snap-link {
  text-decoration: underline black;
}

/******************* FORMS *****************/
label {
  font-weight: bold;
  padding: 0.5em 0;
}

form {
  /* width: 70%;
  height: 70%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  height: 2em;
}

.error-message {
  color: red;
  font-weight: bold;
}

/************************ICONS***************************/
