.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  text-decoration: none;
}

/************************** NAVBAR **************/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5%;
  height: 5vh;
}
.logo {
  width: 35vw;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 10%;
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: white;
}

/************************** Landing Page *****************************/

.welcomePopup {
  border: 1px solid black;
  background-color: white;
}

/************************** BODY *******************/

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-view {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: whitesmoke;
  margin: auto;
}

/******************************FILTER****************/

.filters {
  background-color: white;
}

/******************* ADD NEW SNAP *****************/

.detail-page form {
  display: flex;
  flex-direction: column;
}

.photo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************* PROFILE PAGE *****************/

.user-snaps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.user-snaps > div > img {
  height: 15vh;
}

/************************ FOOTER *****************/

footer,
.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 3% 0;
}

.addSnap {
  border: 1px black solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.fa-camera {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2em;
  color: black;
}

/**************************** MAPBOX STYLING *********/
.mapContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

/* Font Awesome Icon */
.fa-map-marker-alt {
  font-size: 2rem;
  opacity: 1;
}

/* mapbox marker */
.marker {
  background-image: url("./images/mapbox-icon.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

/* mapbox marker popups */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.map {
  position: absolute;
  z-index: -1;
}
