footer,
.toolbar {
  position: fixed;
  bottom: 0;
  width: 96%;
  background-color: whitesmoke;
  padding: 2%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.toolbar-button {
  border: 1px black solid;
  border-radius: 50%;
  height: 90%;
  width: 90%;
  /* position: absolute; */
  min-height: 20px;
  min-width: 20px;

  max-width: 2vw;
  max-height: 2vw;

  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 1.2em;
  color: black;
}
/* .addSnap {
  border: 1px black solid;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  min-height: 40px;
  min-width: 40px;

  max-width: 3vw;
  max-height: 3vw;

  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.toolbar > a {
  text-decoration: none;
}

/* .fas {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  color: black;
} */
