.user-snaps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: whitesmoke;
  overflow-y: scroll;
}

.snap-img-preview {
  min-height: 10vh;
  max-height: 10vh;
  width: 15vh;
  margin-bottom: 0.5em;
  border-radius: 8px;
}

.user-snap {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 40%;
  margin: 0.5em;
}

.snap-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  color: whitesmoke;
}

.snap-edit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0.5em;
  color: white;
  border-bottom: 1px dotted rgb(163, 159, 159);
}

.user-score {
  margin: 1em 0;
  /* margin-bottom: 0.5em; */
}

.username {
  margin: 0;
  margin-left: 1em;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
